.userdetails{
  background-color: burlywood;
  height:150px;
  width:250px;
  margin-left: 50px;
  padding:50px;
  margin-top: 50px;

}




.usercontainer{
  background-color: aquamarine;
  min-height:300px;
  width:400px;
  padding: 50px;
  margin-top: 50px;
  margin-left: 50px;
 
  
}

.buttonarrange{
  display:flex;
  justify-content: flex-start;
  margin-top: 10px;
 
} 

.searchTag{

background-color: cadetblue;
min-height:50px;
width:250px;
margin-left: 20px;
padding:20px;
margin-top: 50px;
margin-left: 50px;

}

.companieslist{
  background-color: cyan;
  min-height: 100px;
  width:500px;
  margin-top: 50px;
  margin-left: 50px;
}

.navbar{

  display:flex;
  flex-direction: row;
  gap:80px;
  margin:10px;
  margin-left:50px;
  
}