.userdetails{
  background-color: burlywood;
  height:150px;
  width:250px;
  margin-left: 20px;
  padding:50px;

}




.usercontainer{
  background-color: aquamarine;
  min-height:300px;
  width:400px;
  margin-left:20px;
  text-align: center;
  
}

.buttonarrange{
  display:flex;
  justify-content: flex-start;
  margin-top: 10px;
 
} 

